/bootstrap/compiled.php
/vendor
/nbproject
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
public/images/covers/
app/views/pages/old/
public/css/old/
public/js/old/
public/ajax/rmjg/getcols.php
public/ajax/rmjg/
app/views/includes/old/header2.blade.php
app/views/includes/old/header3.blade.php
