@logopixelwidth: 200px;
@mobilelogopixelwidth: 150px;

@redcolor: #ff0000;
@yellowcolor: #ffff00;
@orangecolor: #ff8000;

@color1: #ff0000;
@color2: #ff6600;
@color3: #ffbb00;
@color4: #ffff40;
@color5: #ffffff;

@textcolor: #333;
@headercolor: #333;
@header1color: #666;
@header2color: #bbb;
@header3color: #ddd;

// site wide styles
body {
    font-family: "Leelawadee", Verdana;
	background: #eeeeee;
}

html, body {
    height:100%;
}

button:focus {
    outline:0 !important;
}

//fonts
a{
    color:@orangecolor;
}
a:hover{
    color:@redcolor;
    .transition(all, 0.1s, ease-out);
}

h1 {
    font-weight: bold;
}


/******************* left section of homepage: countrychooser ****************/

/*.flag {
    width: 25px;
    vertical-align:top;
    .box-white-shadow(0px, 0px, 6px, 0.5);
}
.countryurl {
    margin-left:3%;
}
.thecountries {
    display:none;
    position:relative;
    left:-1000px;
    padding-top: 75px;
    padding-bottom: 20px;
    .transition(all, 0.5s, ease-in);
}

.activecountries {
    background: rgba(0, 0, 0, 0.9);
    transform: translate(1000px,0px);
    margin-bottom:140px;
    .transition(all, 0.5s, ease-in);
}
.overcontent {
    display:inline;
}

.countries {
    z-index:10;
    color:white;
    padding-left:0;
    padding-right:0;

}
.country{
    margin:0px 0 0 0;
    padding:8px;
    a {
        font-size:15px;
        color:#fff;
    }
    .globeicon{
        max-width:20px;
        float:right;
    }
}*/



/***************** right section of homepage ******************/
.scenery {
    position:relative;
    right:0;
}

.interaction {
    width: 84%;
	//max-width: 500px;
    position: fixed;
    margin-top: 20%;
	margin-left: 8%;
	margin-right: 8%;
    //left:0;
    //right:0;
	z-index: 9999;
}

.phototext {
    position: fixed;
    right: 20px;
    bottom: 100px;
	z-index: 9999;

    a {
        color: white;
        font-size: 14px;
        text-shadow: 2px 2px 2px #000000;
    }
	
	img {
		height: 16px;
		border-radius: 2px;
        box-shadow: 2px 2px 2px #000000;
        margin-left: 5px;
	}
}

.view_slideshow {
    position: absolute;
    right: 20px;
    bottom: 20px;

    a {
        color: white;
        //text-decoration: underline;
        font-size: 14px;
        text-shadow: 2px 2px 2px #000000;
    }
}

.slide {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #000;
}

#slideshow_back {
	text-align: center; 
	padding-top: 5px;
}


#arrow_left, #arrow_right {
    display:none;
}

/******************* searchbar styling ********************/

.navbar-form .input-group{
    width: 100%;
}

#bloodhound{ 
    position: relative;
}
.twitter-typeahead {
    width: 100%;
}
.add-on .searchfield {
    width: 100%;
}
form .twitter-typeahead .searchfield {
    width: 100%;
}
.input-group-btn {
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
}
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.add-on .input-group-btn >.btn {
    border-left: 1px solid #ccc;
    left: -2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.btn.globe {
    margin-left: 10px;
    border-radius: 2px;
}
.globe img{
    width: 14px;
    padding-bottom: 3px;
}
.input-group-btn {
    display: block;
}

/*search suggestion*/
.tt-dropdown-menu {
    width: 100%;
}

.tt-dataset-states {
    width: 100%;
}

.tt-suggestions {
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 2px 5px 2px 5px;
    border-radius: 0 0 2px 2px;
    line-height: 14px;
}

.tt-suggestion {
    border-bottom: 1px solid #ccc;
}

.tt-cursor {
    background: #ccc;
}

/* stop the glowing blue shadow and make it white */
.add-on input:focus {
    box-shadow: none;
    .box-white-shadow(0px, 0px, 10px, 0.9);
    border-color: #cccccc; 
    
}

input:focus {
    .transition(all, 0.5s, ease-in-out);
}

/*hide bootstrap border*/
/*
.navbar-form {
    margin: 10px;
	padding: 0px 40px 0px 0px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
*/

/******************* footer section ********************/

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    color: white;
    clear: both;
    font-size: 12px;
    padding-right: 0;    
}

.mappage .footer,
.randomtemplate .footer, 
.home .footer {
    position: fixed;
}
.footerblack {
    background: @headercolor;
}

.footercredits {
        display: inline-block;
        width: 100%;
        padding: 10px 20px 0px 10px;
        text-align: right;
}

/*******************  header    ********************/


/*******************  tab items ********************/

.tabrow:before {
    z-index: 1;
}
.tabrow {
    position:relative;
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    //line-height: 24px;
}

.tabrow li {
    position: relative;
    z-index: 0;
    margin: 0px;
	margin-right: -5px;
    padding: 0px 5px 0px 5px;
    border-left: 1px solid @header1color;
    //border-right: 1px solid red;
    display: inline-block;
    z-index: 1;
}

.tabrow li.about {
	border-right: 1px solid @header1color;
}
	
.tabrow a:hover {
    text-decoration: none;
	color: #fff;
	li {
		background: @header1color;
	}
}
.tabrow li a {
    color: #fff;
}

.overhome {
    position: relative;
    display: inline-block;
}
.homemenu {
    width: 100%;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    //margin-top: -2px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #000;
    background: @headercolor;
    a {
        color: white;
    }
    .tabrow .glyphicon {
        display:none;
    }
}

.homemenu .tabrow {
    //width:50%;
	//text-align: right;
    display:inline-block;
}

.overmain .homemenu {
    position: relative;
    display: inline-block;
}

.headersearch {
	width: 100%;
	//background:#333;
	display: block;
	//padding:2px 0;
    margin: 10px;
	padding: 0px 40px 0px 0px;
    
}

#logo {

  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/logo.png") no-repeat;
  width: auto; /* Width of new image */
  height: auto; /* Height of new image */
}

.homelogo {
    //width:20%;
    margin: 0px;
    display: inline-block;
    /*box-shadow: 0 0px 3px rgba(255, 255, 255, 0.4), inset 0 1px 0 #000;    */
    img {
        padding: 0px;
        //padding-left: 10px;
        //width: @mobilelogopixelwidth;
        //max-width: @logopixelwidth;
        display: inline;
    }
}

.homemenu .tabrow li {
    //padding: 15px 2px 15px 2px;
    /*box-shadow: 0 -2px 3px rgba(255, 255, 255, 0.4);*/
    display: inline;
    background: none;
}

.tabrow li.selectedtab {
    background: #333;
}

/******************** countries section *****************/

.googlemaps {
    height:100%;
}
#map-canvas {
    width:100%;
}


/******************** plain text page *****************/

.plaintext {
    clear:both;
    margin: 0 auto;
    font-size: 18px;
    padding: 20px 10%;
       padding-bottom: 99px;
       margin-bottom: 30px;
    h1 {
        text-align: center;
        color: @orangecolor;
    }
    img {
        padding: 10px 0 20px 0;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
}
/******************** colpage section ********************/
.colpage {
    clear: both;
}

.colimage {
	position: relative;
    display: none;
    clear: both;
    max-width: 100%;
    height: 350px;
    background-size: cover;
}
.coltitlesection {
    display: inline-block;
    background: @header2color;
    color: @textcolor;
    width: 100%;
    border-top: 2px solid @headercolor;
    //border-bottom: 2px solid @headercolor;
}

.prevbutton, .nextbutton {
  position: relative;
  display: inline-block;
  .gradient(#f7f7f7, #e7e7e7);
  padding: 5px;
  width: 100%;
  max-width: 200px;
  border-radius: 2px;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
}

.buttons {
    height: 40px;
	padding: 0px;
}

.prevbutton:hover, .nextbutton:hover {
	text-decoration: none;
	color: @orangecolor;
	background: #f5f5f5;
    cursor: pointer;
}

.nextbutton {
	float: right;
	max-width: 200px;
	//.vertical-align();
	text-align: right;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
    .glyphicon {
		float: right;
		width: 20px;
		//.vertical-align();
		//border: 1px solid black;	
	}
}

.prevbutton {
	float: left;
	max-width: 200px;
	//.vertical-align();
	text-align: left;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
    .glyphicon {
		float: left;
		width: 20px;
		//.vertical-align();
		//border: 1px solid black;	
	}
}

@media (min-width:992px)
{
	.buttons {
		height: 0px;
	}
	
	.nextbutton, .prevbutton {
		bottom: 40px;
	}
}

.coltitle {
	padding: 0px 0px 0px 0px;
    h1 {
        margin: 10px 0px 5px 0px;
    }
    h3 {
       margin: 0px 0px 5px 0px;
	   font-style: italic;
	   font-size: 20px;
	   vertical-align: middle;
    }
	h4 {
        margin: -5px 0px 5px 0px;
        padding: 0px;
		color: #666;
		font-size: 14px;
    }
    img {
        max-width: 35px;
    }
}

.altitude{
    display: inline-block;
	padding: 0px 0px 0px 0px;	
}

.altitudetext{
	font-size: 26px;
	font-weight: bold;
    padding: 10px 0px 0px 0px;
    h1 {
        margin: 10px 0px 5px 0px;
        padding: 0px 0px 0px 0px;
    }
}

.colpanel {
    margin: 0px 0px 5px 0px;
    padding: 0px 0px 0px 0px;
}

.nrprofiles {
    clear: both;
    padding: 10px 30px;
}

/**    left part colpage    */
.profileimage
{
	background: #fff;
	border-radius: 0px 0px 2px 2px;
	padding: 3px 5px 3px 5px;
}

.profile{
    border-radius: 2px;
	border-width: 1px;
	border-color: @headercolor;
	border-style: solid;
    display: inline-block;
    padding-bottom: 0px;
    margin-bottom: 15px;
    width: 100%;
    img {
        display:block;
        margin:10px 0 10px auto;
        padding-right:10px;
    }
    p {
        margin-bottom:5px;
    }
}

.profiletitle{
    border-radius: 1px 1px 0px 0px;
	display: inline-block;
    width: 100%;
    color: @textcolor;
    background: @header2color;	
    h4 {
        margin:0;
        padding:10px;
    }
}

.profiletitle img {
    width: 20px;
    height: 20px;
    padding: 0px;
    margin: 0px 5px 0px 5px;
    display: inline-block;
    border-radius: 5px;
    background: white;
    border: 1px solid gray;
    position: relative;
    top: -2px;
}

.profile_side {
    color: @orangecolor;
    font-size: 12px;
}

.profile_start {
    font-size: 12px;
}
.profile_start:before {
    content: ">";
    color: @redcolor;
}

.profilestats{
    background: @header3color;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    top: -5px;
}

.profilestat_wrapper{
    float: left;
	margin-right: 5px;
	margin-bottom: 6px;
}

.category {
  font-size: 20px;
  float: right;
  /*display: block;*/
  margin: 7px;
  width: 40px;
  height: 40px;
  /*position: relative;*/
  text-align: center;
  font-weight: bold;
  line-height: 40px;
  border-radius: 50%;
  //box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  background: @color1;
  border: 1px solid gray;
  //.gradient(@color1, darken(@color1,10%));
}


@media (max-width:560px)
{
    .category {
      font-size: 15px;
      width: 30px;
      height: 30px;
     }
    }

.category.c1{
    //.gradient(@color1, darken(@color1,10%));
    background: @color1;
    color: #333;
}
.category.c2{
    //.gradient(@color2, darken(@color2,10%));
    background: @color2;
    color: #333;
}
.category.c3{
    //.gradient(@color3, darken(@color3,10%));
    background: @color3;
    color: #333;
}
.category.c4{
    //.gradient(@color4, darken(@color4,10%));
    background: @color4;
    color: #333;
}
.category.c5{
    //.gradient(@color5, darken(@color5,10%));
    background: @color5;
    color: #333;
}

/**    right part colpage    */

.colmap
{
    border: 1px solid @headercolor;
    border-radius: 2px;
    margin-bottom: 15px;
}

.randomimage img {
    border-radius: 2px;
    margin-bottom: 15px;
}

.support {
    border-radius: 2px;
    border: 1px solid @headercolor;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    .supporttitle {
		padding: 5px;
        border-radius: 2px 2px 0 0;
        color: white;
        background: @header2color;
        /*h4 {
            margin: 0;
            padding: 10px;
        }*/  
    }
	.supporttext {
		text-align: justify;
        padding: 5px;
		border-radius: 0 0 2px 2px;
        background: #fff;
	}
}

.reclame {
	margin-bottom: 15px;
    padding: 5px 10px;
	img {
		border: 0px;
		border-radius: 2px;
		max-width: 190px;
	}
	a {
		padding-right: 5px;
	}
}

.profs{
    border-radius: 2px;
    border: 1px solid @headercolor;
    margin-bottom: 15px;
    display: inline-block;
    width: 100%;
    .profstitle{
        border-radius: 2px 2px 0 0;
        color: @textcolor;
        background: @header2color;
        h4 {
            margin:0;
            padding:10px;
        }
    }
}

.profrow_hidden {
	display: none;
}

.profrows {
	border-radius: 0 0 2px 2px;
	background: #fff;
}

@media (max-width: 500px), (min-width: 991px) and (max-width: 1119px) {
	.race {
		display: none
	}
}
@media (min-width: 501px) and (max-width: 991px), (min-width: 1120px) {
	.race_short {
		display: none
	}
}

.profrow {
	border-top: 1px solid #aaaaaa;
    padding: 5px 10px;
    width: 100%;
    .year{
        float: left;
        width: 40px;
    }
    .race {
        float: left;
        width: 120px;
    }
    .race_short {
        float: left;
        width: 40px;
    }
    .rider{
        float: left;
		font-weight: bold;
    }
    .profcountry{
        float: right;
        width: 20px;
		text-align: center;
        img{
            max-width: 36px;
            display: block;
            margin: 10 auto;
            padding: 2px;
        }
    }
}

.randomimage img{
    width:100%;
    max-width:100%; 
}

.rightposition {
    position: relative;
}

.fixed {
    position: fixed;
    top: 0px;
	margin-right: 15px;
}


/*****************   random col page       **********************/

.randomcol {
    width:100%;
    margin:80px auto;
    padding-bottom: 60px;
    display:inline-block;
    .item {
        width: 100%;
        padding:0 4% 80px 4%;
        float:left;
        margin:0;
        img {
            display:block;
            width:100%;
            max-width:100%;
            .box-shadow(0px, 0px, 8px, 0.8);
        }
    }
}

/*************************  media queries  ***********************/
@media (max-width:420px) {
    .homemenu {
        padding-left: 2px;
        padding-right: 2px;
    }
    .tabrow li {
         //box-shadow: none;
		 font-size: 12px;
    }
}

@media (max-width:559px) {
	.homelogo img {
		width: 100px;
		//padding-left: 0px;
	}
    .homemenu .tabrow li {
        padding: 14px 4px 12px 4px;
        //box-shadow: 0 -2px 3px rgba(255, 255, 255, 0.4);
    }
	.category {
        margin: 10px 10px 10px -10px;
        width: 35px;
        height: 35px;
        line-height: 35px;
    }

}
@media (min-width:560px) {
    .homemenu .tabrow li {
        padding: 28px 14px;
        //box-shadow: 0 -2px 3px rgba(255, 255, 255, 0.4);
    }
}

/*bootstrap small*/
@media (min-width:767px) {
    .homemenu .tabrow li {
        padding: 28px 13px;
    }
    .homelogo img {
        //padding: 5px;
    }
    .homemenu .tabrow .glyphicon {
        display: inline-block;
        margin-right: 5px;
    }
}

/*bootstrap medium*/
@media (min-width:992px) {
    .homemenu .tabrow li {
        padding: 31px 13px;
    }
    .homelogo img {
        //padding: 5px;
        //width: @logopixelwidth;
    }

	.overmain .homemenu .tabrow {
		//width: 40%;
	}
	.headersearch {
		width: 38%;
		display: inline-block;
		background: none;
	}

	.navarrow {
		display: inline-block;
	}
	.tabrow {
		text-align: left;
	}
	.homemenu #countrytab{
		display: none;
	}
	.countries {
		.box-shadow(5px, 0px, 6px, 0.5);
		background: rgba(0, 0, 0, 0.9);
		border-right: 1px solid black;
	}

	.thecountries {
		display: block;
		position: relative;
		left: 0px;
	}
	.countries, scenery {
		min-height: 100%;
	}

	.randomcol .item {
		width: 50%;
	}

	.interaction {
		position: fixed;
		width: 50%;
		//max-width: 500px;
		margin: 25% 25%;
		margin-top: 20%;
		z-index: 9999;
	}

	/* mainheader menu items*/
	/* mainheader searchbar */

	.navbar-form .input-group{
		width: 100%;
	}


	.colimage_color {
		display: block;
	}
	.colimage {
		display: block;
		//filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
		//filter: gray; /* IE6-9 */
		//-webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
	}
	.randomimage {
		display:none;
	}
    .plaintext {
       padding:20px 30%;
       padding-bottom:99px;
       margin-bottom:30px;
    }
}

/*bootstrap large*/
@media (min-width:1200px) {
    .randomcol .item {
        width:33.333%;
    }
    .flag {
        width:32px;
    }
    .country a {
        font-size:18px;
    }
    .country .globeicon {
        max-width:22px;
    }

}

@media (print) {
    
}

// mixins
.border-radius (@radius: 2px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.box-white-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(255, 255, 255, @alpha);
    -moz-box-shadow: @x @y @blur rgba(255, 255, 255, @alpha);
    box-shadow: @x @y @blur rgba(255, 255, 255, @alpha);
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(top, @startColor, @endColor);
	background-image: -moz-linear-gradient(top, @startColor, @endColor);
	background-image: -ms-linear-gradient(top, @startColor, @endColor);
	background-image: -o-linear-gradient(top, @startColor, @endColor);
}

.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}

.vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Implementation 
#somediv {
    .transition(all, 0.5s, ease-in);
} 
#somediv:hover {
    opacity: 0;
} 
*/

.nrcols {
	font-size:10px;
	font-style:italic;
	color:@orangecolor;
}

div.markerinfo {
    position: absolute;
    z-index: 999;
    display: none;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    padding: 2px;
	font-size: 10px;
}

div.geocode {
    position: absolute;
    z-index: 999;
    background-color: transparent;
    padding: 0px;
	font-size: 10px;
	width: 250px;
}

.profilestat
{
	padding: 3px;
	border-radius: 2px;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
}

.profilestat.c1
{
	background-color: @color1;
}
.profilestat.c2
{
	background-color: @color2;
}
.profilestat.c3
{
	background-color: @color3;
}
.profilestat.c4
{
	background-color: @color4;
}
.profilestat.c5
{
	background-color: @color5;
}
